*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #e1d8cf;
}
.header{
    height: 75px;
    width: 100%;
    background: #e1d8cf;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 230px;
    padding-left: 20px;
    padding-top: 0px;
}
.links{
    text-align: right top;
}
.links li{
    display: inline-block;
    margin: 0 35px;
}
.links li a{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0;
    position: relative;
}
.links li a::after{
    content: '';
    background: gray;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0%;left: 0%;
    transition: width 0.5s;
}
.links li a:hover::after{
    width: 100%;
}
li a[href = "activities.html"]{
    color: rgb(255, 255, 255);
    width: 100%;
}