.title{
    margin: auto;
    width: 800px;
    border-style: solid;
    border-color: rgb(87, 87, 87);
    border-radius: 10px;
    background-color: #e1d8cf;
}
.title p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}
.first{
    margin: auto;
    height: 550px;
    width: 800px;
    border-style: solid;
    border-color: rgb(87, 87, 87);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
.first img{
    display:block;
}
